<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="flexRow flexWrap">
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        Центр
                    </p>
                    <ul>
                        <li><a class="href-hover" href="#">О центре</a></li>
                        <li><a class="href-hover" href="#">Руководство</a></li>
                        <li><a class="href-hover" href="#">Структура центра</a></li>
                        <li><a class="href-hover" href="#">Вышестоящие организации</a></li>
                        <li><a class="href-hover" href="#">Объявления</a></li>
                        <li><a class="href-hover" href="#">Медицинские новости</a></li>
                        <li><a class="href-hover" href="#">Фотогалерея</a></li>
                        <li><a class="href-hover" href="#">История</a></li>
                    </ul>
                </div>
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        Пациенту
                    </p>
                    <ul>
                        <li><a class="href-hover" href="#">Мои талоны</a></li>
                        <li><a class="href-hover" href="#">Корзина услуг</a></li>
                        <li><a class="href-hover" href="#">Заявление на прикрепление</a></li>
                        <li><a class="href-hover" href="#">Запись на приём</a></li>
                        <li><a class="href-hover" href="#">Запись на госпитализацию</a></li>
                        <li><a class="href-hover" href="#">Видео-консультация врача</a></li>
                        <li><a class="href-hover" href="#">Госпитализация</a></li>
                        <li><a class="href-hover" href="#">Диспансеризация</a></li>
                        <li><a class="href-hover" href="#">Часто задаваемые вопросы</a></li>
                    </ul>
                </div>
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        контакты
                    </p>
                    <ul>
                        <li>
                            <div>
                                <span>Приемная директора:</span>
                                <a href="tel:998712433605" class="href-hover">+99 871 243-36-05</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Платные услуги:</span>
                                <a href="tel:998712435853" class="href-hover">+99 871 243-58-53</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Приемное отделение:</span>
                                <a href="tel:998712431822" class="href-hover">+99 871 243-18-22</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Почта:</span>
                                <a href="mailto:info.niiemiz@minzdrav.uz" class="href-hover">info.niiemiz@minzdrav.uz</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        адрес
                        <ul>
                            <li>
                                <div>
                                    <span>Республиканский центр:</span>
                                    <p>ул. Заковат</p>
                                </div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>  
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-text flexRow">
                <p>2020 © Все права защищены.</p>
                <a href="#" class="href-hover" target="_blank">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>