.footer {
    border-top: 1px solid var(--iconColor);
    border-top: 1px solid var(--iconColor);
}
    .footer__top {
        padding: 0 0 35px;
    }
    .footer .container > .flexWrap {
        margin-left: -15px;
        margin-right: -15px;
    }
    .footer__top-item {
        margin-top: 50px;
        max-width: 25%;
        width: 100%;
    }
    .footer ul {
        margin-top: 23px;
    }
    .footer li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .footer li span {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
        }
    .footer li p {
            margin: 0;
            font-weight: 600;
        }
    .footer li:not(:last-child) {
        margin-bottom: 13px;
    }
    .footer__title {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase
    }
    .footer__title:not(:first-child) {
    margin-top: 27px;
}
    .footer__title::after {
    content: "";
    display: block;
    background-color: var(--brandColor);
    background-color: var(--brandColor);
    width: 100%;
    height: 1px;
    margin-top: 13px;
}
    .footer__bottom {
        padding: 16px 0;
    }
    .footer__bottom .flexRow {
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
    .footer__bottom-text {
        color: var(--DarkWhite);
        color: var(--DarkWhite);
    }
    .footer__bottom-text p {
            margin: 8px 40px 8px 0;
        }
    .footer__bottom-socialitem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid #2f3233;
        color: #f2f3f4
    }
    .footer__bottom-socialitem:not(:first-child) {
    margin-left: 20px;
}
    @media(max-width: 1050px) {
        .footer__top-item {
            max-width: 50%;
            width: 100%;
        }
            .footer__bottom .container > .flexRow {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: start;
                    -ms-flex-pack: start;
                        justify-content: flex-start;
            }
        .footer__bottom-social {
            margin-top: 30px;
        }
}
    @media(max-width: 540px) {
        .footer__top-item {
            max-width: 100%;
            width: 100%;
        }
        .footer__bottom-text {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
            .footer__bottom-text p {
                margin-right: 0;
                margin-bottom: 15px;
            }
}
/*# sourceMappingURL=../../../maps/templates/blocks/footer/footer.css.map */
