<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>РСМПЦЭМИПЗ</title>

<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">

<link rel="shortcut icon" href="assets/img/icons/favicon.ico" type="image/x-icon">


    <!-- Стили общие для всего сайта - Начало -->
    
    <link rel="stylesheet" href="vendors/swiper/swiper.min.css">
    
    <link rel="stylesheet" href="vendors/fancybox/jquery.fancybox.min.css">
    
    <link rel="stylesheet" href="vendors/scroll/jquery.mCustomScrollbar.min.css">
    
    
    <link rel="stylesheet" href="styles/main.css">
    
    <!-- Стили общие для всего сайта - Конец -->
    <!-- Стили на этой странице - Начало -->
    
    <!-- Стили на этой странице - Конец -->
</head>

<body>
    <div class="body__inner">
        <header class="header">
    <div class="header__inner">
        <div class="header__inner-top">
            <div class="container flexRow">
                <a href="index.html" class="header__logo">
                    <img src="assets/images/logo.svg" alt="">
                </a>
                <div class="header__nav-top flexRow">
                    <a href="tel:998712435853" class="href-hover"><i class="icon-1-1_phone"></i>+99 871 243-58-53</a>
                    <a href="mailto:info.niiemiz@minzdrav.uz" class="href-hover"><i class="icon-1-3_mail"></i>info.niiemiz@minzdrav.uz</a>
                    <div class="dropdown dropdown-border">
                        <span class="current-language">RU<i class="icon-1-4_prev"></i></span>
                        <ul class="dropdown-list">
                            <li><a class="href-hover" href="#">RU</a></li>
                            <li><a class="href-hover" href="#">UZ</a></li>
                            <li><a class="href-hover" href="#">EN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__inner-bottom">
            <div class="container">
                <ul class="header__nav-bottom flexRow">
                    <li class="dropdown dropdown-without-bg">
                        <a class="href-hover">Центр</a>
                        <ul class="dropdown-list">
                            <li><a class="href-hover" href="#">О центре</a></li>
                            <li><a class="href-hover" href="#">Руководство</a></li>
                            <li><a class="href-hover" href="#">Структура центра</a></li>
                            <li><a class="href-hover" href="#">Вышестоящие организации</a></li>
                            <li><a class="href-hover" href="#">Объявления</a></li>
                            <li><a class="href-hover" href="#">Медицинские новости</a></li>
                            <li><a class="href-hover" href="#">Фотогалерея</a></li>
                            <li><a class="href-hover" href="#">История</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-without-bg">
                        <a class="href-hover">Пациенту</a>
                        <ul class="dropdown-list">
                            <li><a class="href-hover" href="#">Мои талоны</a></li>
                            <li><a class="href-hover" href="#">Корзина услуг</a></li>
                            <li><a class="href-hover" href="#">Заявление на прикрепление</a></li>
                            <li><a class="href-hover" href="#">Запись на приём</a></li>
                            <li><a class="href-hover" href="#">Запись на госпитализацию</a></li>
                            <li><a class="href-hover" href="#">Видео-консультация врача</a></li>
                            <li><a class="href-hover" href="#">Госпитализация</a></li>
                            <li><a class="href-hover" href="#">Диспансеризация</a></li>
                            <li><a class="href-hover" href="#">Часто задаваемые вопросы</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="href-hover">Специалисту</a>
                    </li>
                    <li>
                        <a href="#" class="href-hover">Отделения</a>
                    </li>
                    <li>
                        <a href="#" class="href-hover">Услуги и цены</a>
                    </li>
                    <li>
                        <a href="#" class="href-hover">Контакты</a>
                    </li>
                    <li class="dropdown dropdown-without-bg">
                        <a class="href-hover">Филиалы</a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="#" class="href-hover">Республиканская инфекционная больница Республики Каракалпакстан</a>
                            </li>
                            <li>
                                <a href="#" class="href-hover">Научно-практический институт паразитологии имени Исаева Л. М.</a>
                            </li>
                            <li>
                                <div class="dropdown dropdown-without-bg">
                                    <a href="#" class="href-hover">Областные инфекционные больницы</a>
                                    <ul class="dropdown-list dropdown-list__right">
                                        <li>
                                            <a href="#" class="href-hover">Андижанская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Бухарская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Джизакская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Кашкадарьинская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Навоийская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Наманганская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Самаркандская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Сурхандарьинская</a>
                                        </li>
                                        <li>
                                            <a href="#" class="href-hover">Сырдарьинская</a>
                                        </li>
                                        <li>
                                            <a href="#">Ташкентская</a>
                                        </li>
                                        <li>
                                            <a href="#">Ферганская</a>
                                        </li>
                                        <li>
                                            <a href="#">Хорезмская</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="href-hover">Город Ташкент</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="http://riv.uz/" class="href-hover" target="_blank">НИИ Вирусологии</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
        
        <footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="flexRow flexWrap">
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        Центр
                    </p>
                    <ul>
                        <li><a class="href-hover" href="#">О центре</a></li>
                        <li><a class="href-hover" href="#">Руководство</a></li>
                        <li><a class="href-hover" href="#">Структура центра</a></li>
                        <li><a class="href-hover" href="#">Вышестоящие организации</a></li>
                        <li><a class="href-hover" href="#">Объявления</a></li>
                        <li><a class="href-hover" href="#">Медицинские новости</a></li>
                        <li><a class="href-hover" href="#">Фотогалерея</a></li>
                        <li><a class="href-hover" href="#">История</a></li>
                    </ul>
                </div>
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        Пациенту
                    </p>
                    <ul>
                        <li><a class="href-hover" href="#">Мои талоны</a></li>
                        <li><a class="href-hover" href="#">Корзина услуг</a></li>
                        <li><a class="href-hover" href="#">Заявление на прикрепление</a></li>
                        <li><a class="href-hover" href="#">Запись на приём</a></li>
                        <li><a class="href-hover" href="#">Запись на госпитализацию</a></li>
                        <li><a class="href-hover" href="#">Видео-консультация врача</a></li>
                        <li><a class="href-hover" href="#">Госпитализация</a></li>
                        <li><a class="href-hover" href="#">Диспансеризация</a></li>
                        <li><a class="href-hover" href="#">Часто задаваемые вопросы</a></li>
                    </ul>
                </div>
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        контакты
                    </p>
                    <ul>
                        <li>
                            <div>
                                <span>Приемная директора:</span>
                                <a href="tel:998712433605" class="href-hover">+99 871 243-36-05</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Платные услуги:</span>
                                <a href="tel:998712435853" class="href-hover">+99 871 243-58-53</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Приемное отделение:</span>
                                <a href="tel:998712431822" class="href-hover">+99 871 243-18-22</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Почта:</span>
                                <a href="mailto:info.niiemiz@minzdrav.uz" class="href-hover">info.niiemiz@minzdrav.uz</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flexCell footer__top-item">
                    <p class="footer__title">
                        адрес
                        <ul>
                            <li>
                                <div>
                                    <span>Республиканский центр:</span>
                                    <p>ул. Заковат, 2</p>
                                </div>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>  
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-text flexRow">
                <p>2020 © Все права защищены.</p>
                <a href="#" class="href-hover" target="_blank">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>
    </div>

    <!-- Скрипты общие для всего сайта - Начало -->
    
    <script src="vendors/jquery/jquery.min.js"></script>
    
    
    <script src="vendors/swiper/swiper.min.js"></script>
    
    <script src="vendors/maskinput/jquery.maskedinput.min.js"></script>
    
    <script src="vendors/fancybox/jquery.fancybox.min.js"></script>
    
    <script src="vendors/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
    
    
    <script src="scripts/main.js"></script>
    
    <!-- Скрипты общие для всего сайта - Конец -->
    <!-- Скрипты на этой странице - Начало -->
    
    <!-- Скрипты на этой странице - Конец -->
</body>

</html>