.typography {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;
}
    .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6, .typography p, .typography blockquote, .typography dl, .typography ol, .typography ul {
        margin: 0;
        font-family: inherit;
        color: inherit
    }
    .typography h1:not(:last-child), .typography h2:not(:last-child), .typography h3:not(:last-child), .typography h4:not(:last-child), .typography h5:not(:last-child), .typography h6:not(:last-child), .typography p:not(:last-child), .typography blockquote:not(:last-child), .typography dl:not(:last-child), .typography ol:not(:last-child), .typography ul:not(:last-child) {
    margin-bottom: 20px;
}
    .typography h1:first-child, .typography h2:first-child, .typography h3:first-child, .typography h4:first-child, .typography h5:first-child, .typography h6:first-child, .typography p:first-child, .typography blockquote:first-child, .typography dl:first-child, .typography ol:first-child, .typography ul:first-child {
    margin-top: 0;
}
    .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
        font-weight: 700;
        margin-top: 30px;
        line-height: 1.2;
    }
    .typography h1 {
        font-size: 45px;
    }
    .typography h2 {
        font-size: 32px;
    }
    .typography h3 {
        font-size: 28px;
    }
    .typography h4 {
        font-size: 26px;
    }
    .typography h5 {
        font-size: 24px;
    }
    .typography h6 {
        font-size: 22px;
    }
    .typography a {
        display: inline-block;
        color: var(--brandColor);
        color: var(--brandColor);
        text-decoration: none
    }
    .typography a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--brandColorLight);
    background-color: var(--brandColorLight);
    margin-top: -2px;
}
    .typography a:visited {
    color: var(--brandColorLight);
    color: var(--brandColorLight);
}
    .typography mark {
        background-color: var(--White);
        background-color: var(--White);
        border-bottom: 1px solid var(--brandColor);
        border-bottom: 1px solid var(--brandColor);
        color: var(--brandColor);
        color: var(--brandColor);
    }
    .typography small {
        font-size: 80%;
        font-weight: 400;
    }
    .typography b, .typography strong {
        font-weight: 800;
    }
    .typography blockquote {
        position: relative;
        margin: 30px 0;
        background-color: #f8f9fb;
        padding: 35px 25px 35px 53px
    }
    .typography blockquote::after {
    position: absolute;
    top: 35px;
    left: 25px;
    content: "";
    display: block;
    background-color: var(--brandColor);
    background-color: var(--brandColor);
    width: 4px;
    height: calc(100% - 70px);
}
    .typography dl, .typography ol, .typography ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .typography li:not(:last-child) {
        margin-bottom: 17px;
    }
    .typography ol ol, .typography ol ul, .typography ul ol, .typography ul ul {
        margin-bottom: 0;
    }
    .typography ul {
        list-style-position: inside;
        list-style: none;
    }
    .typography ul li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start
        }
    .typography ul li::before {
    content: "\E00E";
    font-family: "icons";
    color: var(--brandColor);
    color: var(--brandColor);
    font-size: 11px;
    margin-right: 11px;
    margin-top: 2px;
}
    .typography ul li span {
                display: block;
                -ms-flex-negative: 1;
                    flex-shrink: 1;
}
    .typography ol {
        counter-reset: counter;
    }
    .typography ol li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            counter-increment: counter
        }
    .typography ol li::before {
    content: counter(counter) ". ";
    margin-right: 14px;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: var(--brandColor);
    color: var(--brandColor);
}
    .typography ol li span {
                display: block;
                -ms-flex-negative: 1;
                    flex-shrink: 1;
}
    .typography table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 27px 0;
        font-size: 15px;
        font-weight: 600
    }
    .typography table:last-child {
    margin-bottom: 0;
}
    .typography table:first-child {
    margin-top: 0;
}
    .typography thead {
        background-color: var(--brandColor);
        background-color: var(--brandColor);
    }
    .typography thead th, .typography thead td {
            text-align: left;
            color: var(--White);
            color: var(--White);
        }
    .typography tr {
        border: 1px solid var(--borderColor);
        border: 1px solid var(--borderColor);
    }
    .typography th, .typography td {
        padding: 23px 22px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        vertical-align: top;
    }
    .typography td:first-child, .typography th:first-child {
        width: 466px;
    }
    @media(max-width: 767px) {
        .typography th, .typography td {
            padding: 15px 10px;
        }
        .typography th:first-child, .typography td:first-child {
            width: auto;
        }
}
    @media(max-width: 575px) {
    .typography {
        font-size: 15px;
    }
}
/*# sourceMappingURL=../../maps/styles/default/typography.css.map */
